html {
    box-sizing: border-box;
    font-size: 16px;
    
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h1, h2, h3 {
      font-family: Sen;
  }

  body{
      font-family: Poppins;
  }

  body, h1, h2, h3, h4, h5, h6, p, ol, ul, a {
    margin: 0;
    padding: 0;
  }

  nav {
   position: fixed;
   top: 0;
   width: 100%;
   overflow: hidden; 
  }

  nav a {
    float: right;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
  }

  .wrapper {
    margin-top: 250px;
    padding-left: 50px;
  }

  h3 {
    padding: 15px;
    float: left;
    font-size: 3rem;
  }

  .homeOverlay {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 600px;
    background-image: url('./images/appetizer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; 
  }

  .wrapper h2 {
    font-size: 16px;
  }

  .wrapper h1 {
    font-size: 50px;
    margin: 15px 0;
    letter-spacing: 3px;
  }

  .wrapper button {
    padding: 15px 30px;
    background-color: rgb(213, 213, 213);
    border: none;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(154, 151, 151, 0.2);
    text-align: center;
  }

  .footer a {
    text-decoration: none;
    color: rgb(49, 45, 101);
  }

  .tabcontent {
    /* display: none; */
    width: 100%;
    height:  900px;
    background-color: white;
    background-image: url('./images/dinner2.jpg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
    transform: translateY(-180px);
    padding-left: 30px;
  }

  .tabcontent h2 {
    font-size: 30px;
    padding: 15px;
    letter-spacing: 3px;
    
  }

  .tabcontent h2:first-child {
    padding-top: 150px;
  }

  .tabcontent p {
    font-size: 15px;
  }
  .tabcontent h1 {
    font-size: 45px;
    letter-spacing: 3px;
  }