html {
    box-sizing: border-box;
    font-size: 16px;
    
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h1, h2, h3 {
      font-family: Sen;
  }

  body{
      font-family: Poppins;
  }

  body, h1, h2, h3, h4, h5, h6, p, ol, ul, a {
    margin: 0;
    padding: 0;
  }

  nav {
   position: fixed;
   top: 0;
   width: 100%;
   overflow: hidden; 
   animation: nav-load 1s ease-in;
  }

  nav a {
    float: right;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
  }

  .wrapper {
    margin-top: 250px;
    padding-left: 50px;
    animation: fadein 2s ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  h3 {
    padding: 15px;
    float: left;
    font-size: 3rem;
  }
  
  .homeOverlay {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 1000px;
    background-image: url('./images/meal-right.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; 
  }

  .wrapper h2 {
    font-size: 16px;
  }

  .wrapper h1 {
    font-size: 50px;
    margin: 15px 0;
    letter-spacing: 3px;
  }

  .wrapper button {
    padding: 15px 30px;
    background-color: rgb(191, 187, 187);
    border: none;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(154, 151, 151, 0.2);
    text-align: center;
  }

  .footer a {
    text-decoration: none;
    color: rgb(49, 45, 101);
  }

  .tabcontent {
    display: none;
    width: 100%;
    height:  900px;
    background-color: white;
    
    padding-left: 30px;
  }

  .tabcontent h2 {
    font-size: 30px;
    padding: 15px;
    letter-spacing: 3px;
    
  }

  .tabcontent h2:first-child {
    padding-top: 150px;
  }

  .tabcontent p {
    font-size: 15px;
  }
  .tabcontent h1 {
    font-size: 45px;
    letter-spacing: 3px;
  }

  .tabcontent h4 {
    font-size: 20px;
  }

  #about h4{
    width: 400px;
    padding-top: 100px;
    padding-left:60px;
  }

  #menu {
    background-image: url('./images/menuO.jpg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
    transform: translateY(-180px);
  }

  #drinks {
    background-image: url('./images/drinksO.jpg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
    transform: translateY(-180px);
  }

  #about {
    background-image: url('./images/about.jpg');
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: right;
    transform: translateY(-180px);
  }

  .active {
    background-color: rgba(245, 245, 245, 0.318);
    border-radius: 20px;
    
  }

  @keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @keyframes nav-load {
    0%{
      transform: translateY(-100%)
    }

    100%{
      transform: translateY(0)
    }
  }